<p>
  <%= form.text_field :hipchat_auth_token %>
  <em class="info">
    A token from <a href="https://www.hipchat.com/group_admin/api" target="_blank">your API tokens page</a>. Leave empty to use <%= link_to 'global settings', plugin_settings_path(:redmine_hipchat) %>.
  </em>
</p>

<p>
  <%= form.text_field :hipchat_room_name %>
  <em class="info">
    Target room's ID or name. Leave empty to use <%= link_to 'global settings', plugin_settings_path(:redmine_hipchat) %>.
  </em>
</p>

<p>
  <%= form.check_box :hipchat_notify %>
  <em class="info">
    Notify room members? Will trigger sound/popup based on user preferences.
  </em>
</p>
